@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url(/imagens/fundo-madeira.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
#telefone{
    background-image: url(/imagens/frame-iphone.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;

    width: 267px;
    height: 471px;
}
section#redes-sociais img{
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.611);
    box-sizing: border-box;
}
section#redes-sociais{
    margin-right: 20px;
    text-align: right;
    
}
section#redes-sociais img:hover{
    width: 60px;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.633);
    transition-duration: 0.3s;
}
